
a {
    text-decoration: none;
    color: #FFFFFF;
}

.page {
    background-color: #2A2C2F;
    color: #FFFFFF;
    width: 100%;    
    margin: 0 auto;
    font-family: 'inter';
    font-style: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}