

/*************************HEADER********************************
.header {
    max-width: calc(100% - 96px);
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 56px;
    padding-top: 28px;
    }

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .header {
        margin: 0 auto 48px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        max-width: calc(100% - 48px);
        margin: 0 auto 48px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding-top: 16px;
        max-width: calc(100% - 32px);
        margin: 0 auto 48px;
    }
}

.header__lang-links {
    width: 78px;
    height: 28px;
    display: flex;
    justify-content: space-between;
}

.header__lang-link {
    font-weight: normal;
    font-size: 24px;
    line-height: 1.167;
    text-align: right;
    text-decoration-line: underline;
}

@media screen and (max-width: 767px) {
   .header__lang-link { 
   font-weight: normal;
    font-size: 18px;
    line-height: 1.33;
    text-align: right;
   }
}

.header__lang-link:first-child {
    text-decoration: underline;
}

.header__logo {
    width: 176px;
    height: 52px;
}

@media screen and (max-width: 424px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}
******************/

/********************************LEAD_D_D_D_D_D**************************

.lead {
    max-width: calc(100% - 296px);
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0 auto 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead {
        max-width: calc(100% - 96px);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead {
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .lead {
        max-width: calc(100% - 2px);
    }
}

.lead__title {
    width: 720px;
    height: 200px;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 767px) {
    .lead__title {
        width: 288px;
        height: 88px;
        font-size: 40px;
        line-height: 1.1;
    }
}

.lead__subtitle {
    width: 640px;
    height: 72px;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    margin: 32px auto 64px;
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        width: 288px;
        height: 40px;
        font-size: 16px;
        line-height: 1.25;
    }
}
.lead__image {
    max-width: 100%;
    margin: auto;
    background-size: contain;
    padding: 0;
}

.lead__caption {
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin: 8px 0 0;
    text-align: left;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .lead__caption {
        margin-left: 24px;
    }
}


@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 16px;
    }
}
**************************/
/*********************INNNNNNTROOOOOOOOOO**********************

.intro {
    max-width: 690px;
    margin: 92px auto 92px 148px;
    padding: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .intro {
        max-width: 690px;
        margin: 92px auto 92px 48px;
    }
} 

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro {
        max-width: 720px;
        margin: 88px auto 88px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        max-width: 288px;
        margin: 64px auto 64px;
    }
}

.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .intro__title {
        font-weight: 900;
        font-size: 32px;
        line-height: 1.09;
    }
}

.intro__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.62;
    margin: 40px 0 32px;
}

.intro__list {
    list-style: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
    padding: 0;
    margin-bottom: 0;

}
*/

/******************Photo-Grid*************

.photo-grid {
    max-width: calc(100% - 96px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    justify-items: center;
    grid-gap: 16px 0;
    margin: 0 auto 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
} 

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .photo-grid {
        max-width: calc(100% - 48px);
        grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
        align-items: center;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        max-width: calc(100% - 32px);
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        grid-gap: 12px 0;
        align-items: center;
    }
}
*/

/***************************PLACE************************
.places {
    margin: 92px auto;
    max-width: calc(100% - 296px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .places {
        max-width: calc(100% - 96px);
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .places {
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width: 767px) {
    .places {
        max-width: 100%;
    }
}

.place {
    margin-bottom: 80px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 460px 484px 1fr;
    grid-template-areas: "place__title place__website"
                        "place__image place__paragraphs";
    align-self: start;
    grid-gap: 48px 40px;
    align-self: center;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place {
        grid-template-columns: 440px 456px 1fr;
        grid-gap: 48px 32px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place {
        grid-template-columns: 340px 352px 1fr;
        grid-gap: 48px 28px;
        margin-bottom: 72px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: 320px 1fr;
        grid-template-areas: "place__title"
                             "place__image"
                            "place__paragraphs";
        grid-gap: 48px 0;
    }
}
.place__title {
    grid-area: place__title;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        font-weight: 900;
        font-size: 32px;
        line-height: 1.09;
        margin: 0 16px;
    }
}

.place__image {
    grid-area: place__image;
    max-width: 100%;
    object-fit: cover;
}

.place__website {
    grid-area: place__website;
    align-self: end;
}

@media screen and (max-width: 767px) {
    .place__website {
        display: none;
    }
}

.place__url-link {
    margin: 0 auto 12px;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.2em;
    color: #AAAAAA;
}

.place__link {
    margin: 12px auto 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-decoration-line: underline;
}

.place__paragraphs {
    grid-area: place__paragraphs;
}

.place__paragraph {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.67;
    margin: 0;

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 1.62;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        margin: 0 16px;
        font-size: 16px;
        line-height: 1.62;
    }
}

.place__paragraph:first-child {
    margin-bottom: 24px;
}
*/
/**************************КОВЁЁЁЁЁЁР*************************
.cover{
    margin: 0 auto 0;
    max-width: calc(100% - 96px);
    display: grid;
    grid-gap: 32px;
}

.cover__background {
    margin: auto;
    z-index: 3;;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    align-self: center;
    grid-column: 1;
    grid-row: 1/3;
    filter: opacity(0.7);
}

.cover__background:hover {
    filter: opacity(0.2);
    transition: linear 1ms;
}

@media screen and (max-width: 1023px) {
    .cover{
        max-width: 100%;
    }
}

.cover__title {
    max-width: 560px;
    margin: 0 auto 0;
    z-index: 5;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    align-self: end;
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 1.09;
    }
}

.cover__subtitle {
    max-width: 360px;
    margin: 0 auto 0;
    z-index: 5;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    grid-column: 1;
    grid-row: 2;
    align-self: start;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 1.14;
    }
}

***/
/*******************************Подалище*******************/

.footer {
    margin: 92px auto 0;
    max-width: calc(100% - 96px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 24px;
}



@media screen and (min-width: 768px) and (max-width: 1024px) {
    .footer{
        margin: 88px auto 24px;
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width: 768px) {
    .footer {
    flex-direction: column;
    margin: 64px auto 0 16px;
    }
}

.footer__links {
    margin: 0;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .footer__links {
        flex-direction: column;
    }
}

.footer__link {
    margin: 0 18px 0 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.12;
}

@media screen and (max-width: 768px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;
        margin: 0 0 32px 0;
    }
}

.footer__link:last-child {
    margin-right: 0;
}

.footer__copyright {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
    text-align: left;
}