.place {
    margin-bottom: 80px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 460px 484px 1fr;
    grid-template-areas: "place__title place__website"
                        "place__image place__paragraphs";
    align-self: start;
    grid-gap: 48px 40px;
    align-self: center;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place {
        grid-template-columns: 440px 456px 1fr;
        grid-gap: 48px 32px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place {
        grid-template-columns: 340px 352px 1fr;
        grid-gap: 48px 28px;
        margin-bottom: 72px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: 320px 1fr;
        grid-template-areas: "place__title"
                             "place__image"
                            "place__paragraphs";
        grid-gap: 48px 0;
    }
}

