.cover__subtitle {
    max-width: 360px;
    margin: 0 auto 0;
    z-index: 5;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    grid-row: 2;
    grid-column: 1;
    text-align: center;
    align-self: start;
    
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 1.14;
    }
}

.cover__subtitle:hover+.cover__overlay {
    opacity: 0.8;
}