.cover__subtitle {
    max-width: 360px;
    margin: 0 auto 0;
    z-index: 5;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    grid-column: 1;
    grid-row: 2;
    align-self: start;
    z-index: 2;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 1.14;
    }
}