@import url(__overlay/cover__overlay.css);
@import url(__link/cover__link.css);
@import url(__background/cover__background.css);
@import url(__title/cover__title.css);
@import url(__subtitle/cover__subtitle.css);

.cover{
    margin: 0 auto 0;
    max-width: calc(100% - 96px);
    position: relative;
}

@media screen and (max-width: 1279px) {
    .cover {
        max-width: 100%;
    }
}
