@import url(__background/cover__background.css);
@import url(__title/cover__title.css);
@import url(__subtitle/cover__subtitle.css);

.cover{
    margin: 0 auto 0;
    max-width: calc(100% - 96px);
    display: grid;
    grid-gap: 32px;
}

@media screen and (max-width: 1023px) {
    .cover{
        max-width: 100%;
    }
}

